button{
    border: none;
    padding: 10px 16px;
}
.btn__facebook{
    color: #3c5a99;
}
.btn__google{
    color: #4285f4;
}
.pending__fetching{
    width: 70px;
    position: absolute;
    right: 3px;
    top: -10px;
}
.error{
    padding: 10px;
    background: #ffefef;
    border: 1px solid #e7195a;;
    color: #e7195a;;
    border-radius: 4px;
    margin: 20px 0;
}
.auth__layout{
    height: 100vh;
    padding: 25px;
}
.auth__form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.form__exit{
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
.form__change{
    position: absolute;
    right: 0;
    top: 0;
}
.form__change button{
    font-size: 100%;
    color: #1cb0f6;
    font-weight: 600;
    padding: 10px 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.form__change button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 42px;
    box-shadow: 0 3px 0 #ccc;
}
form{
    width: 375px;
    text-align: center;
}
.form__input{
    position: relative;
}
.form__input input{
    margin: 8px 0;
    display: block;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(229, 229, 229);
    width: 100%;
    padding: 10px 16px;
    border-radius: 15px;
    font-size: 100%;
    line-height: 27px;
}
.form__input input:focus{
    outline: none;
}
.form__submit{
    padding-top: 20px;
}
.form__submit button{
    width: 100%;
    background-color: #1cb0f6;
    color: #fff;
    font-size: 100%;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.form__submit button::after{
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 0px #1782b3;
    height: 40px;
    top: 0;
    border-radius: 15px;
}
.auth__options{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
.cross__line{
    width: 100px;
    height: 2px;
    margin: 0 8px;
    background-color:  rgb(229, 229, 229);
}
.auth__option__btn{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.auth__option__btn button{
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 5px 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-weight: 600;
    position: relative;
}
.auth__option__btn button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    box-shadow: 0 5px 0 #ccc;
    top: 0;
    left: 0;
    border-radius: 7px;
}
.forget__password{
    position: absolute;
    right: 13px;
    bottom: 13px;
    cursor: pointer;
}
.forget__password span {
    font-weight: bold;
    color: #16a7ead7;
    transition: 0.2s;
}
.forget__password span:hover{
    color: #1782b3;
}
